<div class="container-fluid">
  <div class="container">
    <div class="row">
      <h1>Vamos começar!</h1>
      <p>Crie uma conta se ainda não é <strong>registrado.</strong></p>

      <div class="col-md-6 col-md-offset-3 card">
        <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
            <span id="reauth-email" class="reauth-email"></span>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <input type="text" placeholder="Digite seu nome" class="form-control form-register" name="name" id="fullName" [(ngModel)]="user.name" #name="ngModel" required />
              <div *ngIf="f.submitted && !fullName.valid" class="help-block">Campo de nome é obrigatório.</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
              <input type="text" placeholder="Digite seu Sobrenome" class="form-control form-register" name="lastName" id="fullName" [(ngModel)]="user.lastName" #lastName="ngModel" required />
              <div *ngIf="f.submitted && !fullName.valid" class="help-block">Campo de sobrenome é obrigatório.</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !age.valid }">
              <input type="text" placeholder="Digite sua idade" class="form-control form-register" name="age" id="fullName" [(ngModel)]="user.age" #age="ngModel" required />
              <div *ngIf="f.submitted && !fullName.valid" class="help-block">Campo de idade é obrigatório.</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <input matInput type="text" placeholder="E-mail" class="form-control form-register" name="username" id="username" [(ngModel)]="user.username" #username="ngModel" required />
              <div *ngIf="f.submitted && !username.valid" class="help-block">

                <div *ngIf="username.errors.required">
                  É necessário digitar um e-mail.
                </div>

              </div>

            </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <input type="password" placeholder="Digite uma senha" class="form-control form-register" name="password" id="password"
              [(ngModel)]="user.password" #password="ngModel" required minlength="4" />
            <div *ngIf="f.submitted && !password.valid" class="help-block">

              <div *ngIf="password.errors.required">
                Campo de senha é obrigatório.
              </div>
              <div *ngIf="password.errors.minlength">
                Senha deve ter ao menos 4 caracteres.
              </div>

            </div>
          </div>
          <div id="remember" class="checkbox">

          </div>
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Cadastrar</button>
        </form><!-- /form -->
      </div>
    </div>


  </div><!-- /container -->
</div>
