/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
h1, h2, p, a {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

h1.titulo {
  padding-top: 110px;
  text-align: center;
  font-weight: 700;
}

h2.descricao {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 25px;
}

.form-login {
  padding: 20px 20px;
  border-radius: 10px;
}

.form-login#username {
  background-image: url(../../../assets/images/icon-user.png);
  background-position: 15px 7px;
  background-repeat: no-repeat;
  text-indent: 40px;
}

.form-login#password {
  background-image: url(../../../assets/images/password-user.png);
  background-position: 15px 7px;
  background-repeat: no-repeat;
  text-indent: 40px;
}

.form-login::placeholder {
  color: #c4c2c2;
}

.btn-login {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  background: #e74c3c;
  border: 0;
  padding: 8px 16px;
  border-radius: 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.btn:hover, .btn:active, .btn:visited, .btn:focus {
  background: #cf3a2a;
}

p.sign-up-link {
  margin-top: 20px;
  display: inline-block;
  padding-left: 10px;
}

a.register-link {
  color: #fff;
  font-weight: 700;
  margin-left: 5px;
}

a.register-link:hover, a.register-link:active {
  text-decoration: underline;
}
