<div class="example-container">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-title">Olá, {{ currentUser.name }}.</h1>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" fxFlex>
    <mat-sidenav opened="true" disableClose="true" #sidenav fixedTopGap="56" mode="side" Fixed>
      <mat-icon class="icon-cfp" matListIcon
        >bar_chart <span>CFP</span></mat-icon
      >
      <mat-divider class="menu-divider"></mat-divider>
      <mat-nav-list>
        <a mat-list-item routerLink="/profile" routerLinkActive="active-list-item">
          <h2 matLine>Home</h2>
          <mat-icon matListIcon>home</mat-icon>
        </a>
        <a
          mat-list-item
          routerLink="/receitas"
          routerLinkActive="active-list-item"
        >
          <h2 matLine>Receitas</h2>
          <mat-icon matListIcon>local_atm</mat-icon>
        </a>
        <a mat-list-item routerLink="/tipoReceita" routerLinkActive="active-list-item">
          <h2 matLine>Tipos de Receitas</h2>
          <mat-icon matListIcon>local_atm</mat-icon>
        </a>
        <a mat-list-item routerLink="/despesas" routerLinkActive="active-list-item">
          <h2 matLine>Despesas</h2>
          <mat-icon matListIcon>show_chart</mat-icon>
        </a>
        <a mat-list-item routerLink="/tipoDespesa" routerLinkActive="active-list-item">
          <h2 matLine>Tipos de Despesas</h2>
          <mat-icon matListIcon>show_chart</mat-icon>
        </a>
        <a
          mat-list-item
          routerLink="/notificacoes"
          routerLinkActive="active-list-item"
        >
          <h2 matLine>Notificações</h2>
          <mat-icon matListIcon>notification_important</mat-icon>
        </a>
        <a mat-list-item (click)="logOut()" routerLinkActive="active-list-item">
          <h2 matLine>Logoff</h2>
          <mat-icon matListIcon>money_off</mat-icon>
        </a>
      </mat-nav-list>
      <mat-divider class="menu-divider"></mat-divider>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="cont" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-card fxFlex class="receitas-card">
          <mat-card-title class="card-title">
            <div fxLayout="row" fxLayoutAlign="start center" class="card-title">
              <span flex>Cadastro de Receitas</span>
            </div>
          </mat-card-title>
          <mat-card-content>
            <form #f="ngForm" (ngSubmit)="onSubmit()">
              <div>
                <div>
                  <mat-form-field>
                    <input required matInput name="name" placeholder="Nome da Receita" [(ngModel)]="name" />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Tipo da Receita" name="type"  [(ngModel)]="type" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let tipo of tipos" [value]="tipo">
                        {{tipo.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <input required matInput name="value" placeholder="Valor da Receita" [(ngModel)]="value" />
                  </mat-form-field>
                  <mat-form-field>
                    <input required matInput [matDatepicker]="expireDate" placeholder="Data da Receita" ngModel name="expireDate">
                    <mat-datepicker-toggle matSuffix [for]="expireDate"></mat-datepicker-toggle>
                    <mat-datepicker #expireDate></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <mat-card-actions class="button-rows">
                <button mat-raised-button color="primary" type="button" class="backButton" (click)="voltar()">
                  Voltar
                </button>
                <button mat-raised-button class="button-success consultButton" type="submit" [disabled]="form.invalid">
                  Salvar
                </button>
              </mat-card-actions>
            </form>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="cont" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-card fxFlex class="receitas-card">
          <mat-card-title class="card-title">
            <div fxLayout="row" fxLayoutAlign="start center" class="card-title">
              <span flex>Receitas</span>
            </div>
          </mat-card-title>
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Proucurar...">
            </mat-form-field>
          <mat-table #table class="mat-elevation-z3" [dataSource]="dataSource">
            <ng-container matColumnDef="Nome">
              <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              <mat-footer-cell *matFooterCellDef> <strong>Total </strong> </mat-footer-cell>
            </ng-container>        
            <ng-container matColumnDef="Tipo">
              <mat-header-cell *matHeaderCellDef>Tipo da Receita</mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> {{element.type?.name}} </mat-cell>
              <mat-footer-cell *matFooterCellDef> <strong>Total</strong>  </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="Valor">
              <mat-header-cell *matHeaderCellDef>Valor da Receita</mat-header-cell>
              <mat-cell id="txEstendido" mat-cell *matCellDef="let element"> {{element.value |
                currency:'BRL':true:'1.2-2' }} </mat-cell>
                <mat-footer-cell *matFooterCellDef> <strong>{{getTotalCost() | currency:'BRL':true:'1.2-2'}}</strong> </mat-footer-cell>
            </ng-container>            
            <ng-container matColumnDef="DataVencimento">
              <mat-header-cell mat-header-cell *matHeaderCellDef>Data da Receita</mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> {{element.expireDate | date:'dd/MM/yyyy'}} </mat-cell>
              <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>
            </ng-container>           
            <ng-container matColumnDef="Editar">
              <mat-header-cell mat-header-cell *matHeaderCellDef class="excluir-title">Excluir</mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element" class="icons">
                <button matTooltip="Excluir" title="Excluir" mat-button class="btn-table-excluir " (click)="deletarReceita(element)">
                  <i class="material-icons icon-btn">delete</i>
                </button>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
          </mat-table>
          <mat-paginator class="mat-elevation-z3 paginator" #paginator [pageIndex]="page" [length]="length" [pageSize]="pageSize"
            [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons>
          </mat-paginator>
        </mat-card>
      </div>

      <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>money_off</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>