<div id="wrapper" [ngClass]="ref.click === true? 'toggled' :''">
  <div class="overlay" [ngStyle]="{disply:ref.click === true? 'block' :'none'}"></div>

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          CPF Menu
        </a>
      </li>
      <li>
        <a href="#">Início</a>
      </li>
      <li>
        <a href="#">Receitas</a>
      </li>
      <li>
        <a href="#">Despesas</a>
      </li>
      <li>
        <a href="#">Sair</a>
      </li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->


  <div class="container-fluid header">
    <div class="container">
      <div class="row">
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <button appSidebar #ref="appSidebar" type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
          </button>
        </div>
          <p class="p-welcome">Bem vindo ao CPF, Pedro.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="info">
        <h1>Resumo do mês</h1>
      </div>
      <div class="resumo-receitas clearfix">
        <div class="col-md-6">
          <h2>Total em receitas:</h2>
          <p class="money-rec">R$ 2.555,00</p>
        </div>
        <div class="col-md-6">
          <h2>Pricipais receitas:</h2>
          <ul class="lista-receitas-principal">
            <li>Salário - <span class="valor-receita">+ R$ 1.600,00</span></li>
            <li>Vendas - <span class="valor-receita">+ R$ 500,00</span></li>
          </ul>
        </div>
      </div>
      <div class="control-btn">
        <a href="#" class="btn btn-lg btn-primary btn-add">Adicionar</a>
      </div>

      <div class="resumo-despesas clearfix">
        <div class="col-md-6">
          <h2>Total em despesas:</h2>
          <p class="money-rec">R$ 2.555,00</p>
        </div>
        <div class="col-md-6">
          <h2>Pricipais despesas:</h2>
          <ul class="lista-receitas-principal">
            <li>Salário - <span class="valor-despesa">- R$ 1.600,00</span></li>
            <li>Vendas - <span class="valor-despesa">- R$ 500,00</span></li>
          </ul>
        </div>
      </div>
      <div class="control-btn">
        <a href="#" class="btn btn-lg btn-primary btn-add-des">Adicionar</a>
      </div>
    </div>
  </div>
  <div class="container-fluid footer">
    <footer>
      <p>Copyright © 2018 - SERV. All Rights Reserved.</p>
    </footer>
  </div>
</div>
